/* CSS Reset by Josh W Comeau   https://www.joshwcomeau.com/css/custom-css-reset/*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

:root {
  /* Colors */
  --clr--primary-red: hsl(0, 78%, 62%);
  --clr--primary-cyan: hsl(180, 62%, 55%);
  --clr--primary-orange: hsl(34, 97%, 64%);
  --clr--primary-blue: hsl(212, 86%, 64%);

  --clr--heading-accent: hsl(234, 12%, 34%);
  --clr-main-text: hsl(229, 6%, 66%);
  --clr--bg-body: hsl(0, 0%, 98%);
  /* ---------------------------------------- */

  /* Font Sizes */
  --fs--main: 0.9375rem;
  --fs-heading-min: 1.5rem;
  --fs-heading-max: 2.25rem;
  /* ------------------------ */

  /* Font Families */
  --ff-main: "Poppins", sans-serif;
  /* ---------------- */

  /* Font Weights */
  --fw-light: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
}

body {
  color: var(--clr-main-text);
  font-family: var(--ff-main);
  font-size: var(--fs--main);
  font-weight: var(--fw-regular);
  background-color: var(--clr--bg-body);
  line-height: 1.6;
}

.container {
  min-height: 100vh;
  display: grid;
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 3rem;
}

.header-heading {
  font-size: clamp(var(--fs-heading-min), 5vw, var(--fs-heading-max));
  font-weight: var(--fw-light);
  line-height: 1.4;
}

.header-heading span {
  color: var(--clr--heading-accent);
  display: block;
  font-weight: var(--fw-semibold);
}

.header-paragraph {
  max-width: 58ch;
}

.cards-container {
  padding: 4em;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  margin-inline: auto;
  place-content: center;
  gap: 3rem;
  margin-bottom: 1rem;
  text-align: left;
  row-gap: 1rem;
  grid-template-areas:
    ". builder ."
    "supervisor builder calculator"
    "supervisor . calculator"
    "supervisor karma calculator"
    ". karma .";
  /* margin-inline: auto; */
}

.card {
  display: grid;
  gap: 1rem;
  box-shadow: 0 0.625rem 1.875rem -0.9375rem var(--clr--heading-accent);
}

.wrapper {
  padding: 2.25em;
}

.card-heading {
  color: var(--clr--heading-accent);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.card-paragraph {
  max-width: 32ch;
}

.card-image {
  justify-self: end;
  padding-inline: 1.5em;
  padding-bottom: 1.75em;
}

.builder {
  border-top: thick outset var(--clr--primary-red);
  grid-area: builder;
}

.calculator {
  border-top: 5px outset var(--clr--primary-blue);
  grid-area: calculator;
}

.karma {
  border-top: 5px outset var(--clr--primary-orange);
  grid-area: karma;
}

.supervisor {
  border-top: 5px outset var(--clr--primary-cyan);
  grid-area: supervisor;
}
/* 849px*/
@media (max-width: 53.0625em) {
  .container {
    margin: 1.75rem;
  }

  .cards-container {
    grid-template-areas:
      "supervisor"
      "builder"
      "karma"
      "calculator";
    row-gap: 2rem;
    padding: 0;
    margin-top: 5rem;
  }
}

/* 850px */
@media (max-width: 78.125em) and (min-width: 53.125em) {
  .cards-container {
    grid-template-areas:
      "supervisor builder"
      "calculator karma";
  }
}
